@import "tailwindcss";

@theme {
    --main-color: rgb(68, 63, 222);
    --section-padding: 5%;
}

@layer components {
    .section-padding {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    }
    .navbar .logo {
        svg {
           color: var(--main-color);
        }
    }
    .navbar .links a.active {
        color: var(--main-color)
    }

    .popup {
        animation-name: popup;
        animation-duration: 500ms;
        animation-fill-mode: both;
    }
    .popup-1 {
        animation-delay: 100ms;
    }
    .popup-2 {
        animation-delay: 200ms;
    }

    .burger-icon {
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: 300ms;

    }
    .burger-icon div {
        width: 50%;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        border-radius: 10px;
        transition: 300ms;
    }
    .burger-icon div:first-child {
        top: 12px;
    }

    .burger-icon div:nth-child(2) {
        top:50%;
        transform: translate(-50%, -50%);
    }
    .burger-icon div:last-child {
        bottom: 12px;
    }
    .burger-icon.on {
        background-color: var(--main-color);
    }
    .burger-icon.on div {
        background-color: white;
    }
    .links.on {
        bottom: 0;
    }
    .links.off {
        bottom: 500%
    }

    @media(max-width: 1024px) {
        .navbar .links {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 9px;
        }
    }
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(50%)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}