@import "tailwindcss";

@theme {
    --main-color: rgb(68, 63, 222)
}

@layer components {
    .section-padding {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    }
    .navbar .logo {
        svg {
           color: var(--main-color);
        }
    }
    .navbar .links a.active {
        color: var(--main-color)
    }

    .popup {
        animation-name: popup;
        animation-duration: 500ms;
        animation-fill-mode: both;
    }
    .popup-1 {
        animation-delay: 100ms;
    }
    .popup-2 {
        animation-delay: 200ms;
    }
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(50%)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}